@model IEnumerable<TiendaMuebles.Models.Producto>

@{
  ViewData["Title"] = "Catalogo";
}

<section id="catalogue" class="catalogue section-bg">

  <div class="container">
    <div id="section">
      <p>Venta de muebles</p>
    </div>
    <h1>@ViewData["Message"]</h1>
    <div class="row">
      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (var item in Model)
            {
              <div class="col-lg-4 catalogue-item filter-app">
                <div style="text-align:center;margin-top: 30px;">
                  <img class="card-img-top" height="500" src="@item.ImagenName" alt="@item.ImagenName"
                  style="height: 300px" />
                </div>

                <div class="catalogo" style="height: 200px;background-color: #ececec;border-radius: 0px 0px 15px 15px;">
                  <div style="text-align:center;" class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                    <p class="card-text">Precio: S/.@Html.DisplayFor(modelItem => item.Precio)</p>
                    <a style="width: 200px; margin: 5px" class="btn btn-warning" asp-action="Add2" asp-route-id="@item.Id">Agregar</a>
                    <a style="width: 200px" class="btn btn-warning" asp-action="Detalles" asp-route-id="@item.Id">Detalle</a>
                    <div style="margin-top: 30px;">

                      <div class="col">


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }

</section>